/* background and text */
body {
    background-color: black; /* sets the background color of the page to black */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* font family for text */
    color: seashell; /* sets the color of text to seashell */
  }
  
  /* main content layout */
  .page-content {
    margin: 0 auto; /* centers the content horizontally */
    max-width: 800px; /* sets the maximum width of the content to 800 pixels */
    min-width: 600px; /* sets the minimum width of the content to 600 pixels */
    padding: 0 20px; /* adds space around the content 20 pixels on the left and right */
  }
  
  /* styling for box */
  #div1 {
    border: 3px solid white; /* adds a white border with a thickness of 3 */
    color: white; /* sets the color of box to white */
    width: 200px; /* sets the width of the box to 200 pixels */
    height: 120px; /* sets the height of the box to 120 pixels */
    margin: 0 auto; /* centers the box horizontally */
    text-align: center; /* centers the text inside the box */
  }
  
  /* centered images */
  .center-image {
    text-align: center; /* centers the images horizontally */
  }
  
  /* paragraphs */
  p {
    font-size: 16px; /* sets the font size of paragraphs to 16 pixels */
    line-height: 1.5; /* sets the spacing between lines to 1.5 times the font size */
  }
  
  /* headings */
  h1, h2, h3, h4, h5, h6 {
    color: gold; /* sets the color of headings to gold */
  }
  
  /* horizontal Line */
  hr {
    border: 0; /* removes the default border */
    border-top: 1px solid white; /* adds a white horizontal line with a thickness of 1 */
  }
  
  /* links */
  a {
    color: gold; /* sets the color of links to gold */
  }
  
  /* hover effect for links */
  a:hover {
    color: white; /* changes the color of links to white when hovered over */
  }
  
  /* right aligned elements */
  .alignRight {
    float: right; /* aligns elements to the right */
    margin-left: 20px; /* adds a left margin of 20 pixels */
    color: gold; /* aets the text color to gold */
  }
  
  .center-text {
    text-align: center; /* centers text horizontally */
  }